*{
    margin: 0;
    padding: 0;
}
.card{
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
.card-body h3{
    margin: 10px 0px;
    font-weight: bold;
}
.card-body p{
    padding: 0px 20px;
    color: black;
}
.button{
   background-color:  #0078d4;
   color: white;
   margin: 10px 0px;
}

.fa-brands{
    padding: 5px;
    margin: 15px 0px;
 font-size: 18px;
}
@media screen and (max-width:600px){
    .card{
        width: 100% !important;
    }
    
}